@model IEnumerable<moment3_2.Models.Cd>

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<form asp-controller="Cds" asp-action="Search" method="get">
    <p>
        Albumets titel: <input type="text" name="SearchString" />
        <input type="submit" value="Sök" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Album_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsRented)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Album_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist.ArtistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsRented)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CdId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CdId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CdId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Index">Back to List</a>
</div>